canvas {
  overflow: visible;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.small-text{
  font-size: 10px;
}

.btn-purple,.bg-purple{
  background-color: #6610f2;
  color:white;
}

.btn-purple:hover,.bg-purple:hover {
  background-color: #6610f2;
  color:white;
}
.btn-lightblue,.bg-lightblue{
    background-color:rgb(108, 198, 223);
    color: black;
}

.btn-lightgreen,.bg-lightgreen{
  background-color:rgb(159, 233, 159);
  color:black;
}
.btn-pink,.bg-pink{
  background-color: #d63384;
  color:white;
}

.btn-pink:hover,.bg-pink:hover {
  background-color: hsl(330, 67%, 52%);
  color: white;
}

.btn-orange,.bg-orange{
  background-color: orange;
  color:white;
}
.btn-lightorange,.bg-lightorange{
  background-color: rgb(251, 222, 169);
  color:black;
}
.btn-lightpurple,.bg-lightpurple{
  background-color: #CBC3E3;
  color:black;
}
.btn{
  margin:0px;
  text-transform: none;
  padding:10px;
}
.row{
  /* --mdb-gutter-x:0px !important; */
}


.element-width{
  width:45px !important;
}

.height-150{
  height:150px;
}

.my-periodic-table{
  margin:0px !important;
  padding:0px !important;
  width:98% !important;
  max-width: 100% !important;
}

.row>*{
  padding:0px;
}

@media only screen and (max-width: 600px) {
  .row{
    --mdb-gutter-x:0 !important;
  }
  .m1{
    margin:0px !important;
    width:100% !important;
  }
    .row>*{
      flex-shrink: unset;
    }
}




